p,h1,h2,h3,h4,h5,h6,body,a,li,ul,span{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#eee
}
ul{
    list-style: none;
}
.container-fluid{
    max-width: 1200px;
}
a,a:hover{
    text-decoration: none;
}
@font-face {
    font-family: RobotoRegular;
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
    font-family: RobotoBold;
    src: url("../fonts/Roboto-Bold.ttf");
}
.slick-next:before{
    content: "\f054" !important;
    font-family: 'FontAwesome' !important;
}
.slick-prev:before{
    content: "\f053" !important;
    font-family: 'FontAwesome' !important;
}
body{
    font-family: 'Fredoka', sans-serif;
}
/******** Index - CSS **********/
